html,
body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#myContainer,
.radio,
input {
  cursor: pointer;
  font-size: 22px;
}
